body{
font-family: Arial;
margin:0;
}

header{
background:black;
color:white;
padding:15px;
text-align:center;
}

nav ul{
list-style:none;
padding:0;
}

nav ul li{
display:inline;
margin:10px;
}

nav ul li a{
color:white;
text-decoration:none;
}

section{
padding:30px;
}

footer{
background:black;
color:white;
text-align:center;
padding:10px;
}
